<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>API_KEY</key>
        <string>AIzaSyAVnPD_ebCiXw_OEOU8VriTIFm-iZ06qvA</string>
        <key>GCM_SENDER_ID</key>
        <string>90854589504</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.rxritet.habitduel</string>
        <key>PROJECT_ID</key>
        <string>habitduel-28b8f</string>
        <key>STORAGE_BUCKET</key>
        <string>habitduel-28b8f.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:90854589504:ios:c1cc58f43d75d506028ba5</string>
</dict>
</plist>